body{
    background:black;
    min-height:100vh;
    margin:0;
    padding:1em;
}
.project-div{
    display:flex;
    flex-direction: column;
    justify-content: center;
}
@font-face{
    font-family: friday13th;
    src: url(../static/fonts/Friday13SH.ttf);
}
.project-h1{
    font-size:4em;
    color: #fff;
    font-family: friday13th, sans-serif;
    text-align: center;
}
p{
    color:#fff;
    text-align: center;
    font-family: friday13th, sans-serif;
    font-size:2.3em;
}
a{
    height:6em;
    width:6em;
    align-self: center;
}
.logo-img{
    background:#fff;
    border-radius:50%;
    height:6em;
    width:6em;
}
.alert-div{
    position:fixed;
    top:18vh;
    left:50vw;
    transform: translateX(-50%);
    display:flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
}
.alert{
    pointer-events: none;
    background:#660000;
    color:#fff;
    padding:.75em;
    opacity:1;
    border-radius:.35em;
    transition: opacity 500ms ease-in-out;
    margin-bottom: .3em;
}
.alert.hide{
    opacity:0;
}
.wordle-grid{
    display:grid;
    justify-content: center;
    align-content: center;
    margin-top:3em;
    margin-bottom:6.5em;
    grid-template-columns: repeat(5, 5em);
    grid-template-rows: repeat(6, 4.5em);
    gap:.25em;
}
.grid-tile{
    color:#fff;
    border: 0.05em solid #242428;
    font-size: 2em;
    font-family:'Arial';
    font-weight:bold;
    display:flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    text-transform: uppercase;
    transition: transform 250ms linear;
}
.grid-tile.shake{
   animation: shake 0.5s ease-in-out;
}
.grid-tile.flip{
    transform: rotateX(90deg);
}
.grid-tile.dance{
    animation: dance 500ms ease-in-out;
}
.grid-tile[data-state="active"]{
    border-color:#939393;
}
.grid-tile[data-state="wrong"]{
    background:#660000;
    border:none;
}
.grid-tile[data-state="wrong-place"]{
    background:#b59f3b;
    border:none;
}
.grid-tile[data-state="correct"]{
    background:#538d4e;
    border:none;
}
.keyboard{
    display:grid;
    grid-template-columns: repeat(20, minmax(auto, 2.3em));
    grid-auto-rows: 3.5em;
    gap:.25em;
    justify-content: center;
}
.key{
    font-size:inherit;
    font-weight:bold;
    grid-column: span 2;
    border:none;
    padding:0;
    display:flex;
    justify-content: center;
    align-items: center;
    background:#696969;
    color:#fff;
    cursor:pointer;
    user-select: none;
    border-radius:.22em;
    text-transform: uppercase;
}
.key:hover{
    filter:brightness(115%);
}
.key.large{
    grid-column:span 3;
}
.key.wrong-guess{
    background:#660000;
}
.key.wrong-place{
    background:#b59f3b;
}
.key.right-guess{
    background:#538d4e;
}
#delete-icon{
    font-size:1.2em;
}

@keyframes shake {
    10% {
      transform: translateX(-5%);
    }
  
    30% {
      transform: translateX(5%);
    }
  
    50% {
      transform: translateX(-7.5%);
    }
  
    70% {
      transform: translateX(7.5%);
    }
  
    90% {
      transform: translateX(-5%);
    }
  
    100% {
      transform: translateX(0);
    }
  }
  @keyframes dance{
    20% {
        transform: translateY(-50%);
    }
    40% {
        transform: translateY(5%);
    }
    60% {
        transform: translateY(-25%);
    }
    80% {
        transform: translateY(2.5%);
    }
    90% {
        transform: translateY(-5%);
    }
    100% {
        transform: translateY(0);
    }
  }