body{
    background:black;
    min-height:100vh;
    margin:0;
    padding:1em;
}
.project-h1{
    font-size:4em;
    color: #fff;
    font-family: 'Creepster', cursive;
    text-align: center;
}
.keyboard{
    display:grid;
    grid-template-columns: repeat(20, minmax(auto, 1.25em));
    grid-auto-rows: 2.5em;
    gap:.25em;
    justify-content: center;
}
.key{
    font-size:inherit;
    grid-column: span 2;
    border:none;
    padding:0;
    display:flex;
    justify-content: center;
    align-items: center;
    background:#696969;
    color:#fff;
    cursor:pointer;
    user-select: none;
    border-radius:.22em;
}
.key:hover{
    filter:brightness(140%);
}
.key.large{
    grid-column:span 3;
}
.key.wrong-guess{
    background:#660000;
}
.key.wrong-place{

}
.key-right-guess{

}
#delete-icon{
    font-size:1.2em;
}