body{
    background:black;
    min-height:100vh;
    margin:0;
    padding:1em;
}
.project-h1{
    font-size:4em;
    color: #fff;
    font-family: 'Creepster', cursive;
    text-align: center;
}
.wordle-grid{
    display:grid;
    justify-content: center;
    align-content: center;
    margin-top:3em;
    margin-bottom:6.5em;
    grid-template-columns: repeat(5, 3.5em);
    grid-template-rows: repeat(6, 3.5em);
    gap:.25em;
}
.grid-tile{
    color:#fff;
    border: 0.05em solid #242428;
    font-size: 2em;
    font-family:'Arial';
    font-weight:bold;
    display:flex;
    justify-content: center;
    align-items: center;
    user-select: none;
}
.keyboard{
    display:grid;
    grid-template-columns: repeat(20, minmax(auto, 1.25em));
    grid-auto-rows: 2.5em;
    gap:.25em;
    justify-content: center;
}
.key{
    font-size:inherit;
    font-weight:bold;
    grid-column: span 2;
    border:none;
    padding:0;
    display:flex;
    justify-content: center;
    align-items: center;
    background:#696969;
    color:#fff;
    cursor:pointer;
    user-select: none;
    border-radius:.22em;
}
.key:hover{
    filter:brightness(115%);
}
.key.large{
    grid-column:span 3;
}
.key.wrong-guess{
    background:#660000;
}
.key.wrong-place{
    background:#FFC425;
}
.key.right-guess{
    background:#008000;
}
#delete-icon{
    font-size:1.2em;
}